<html>

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h1>Register your account</h1>
    <form action="{{ url_for('register') }}" method="post">
        <fieldset>
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            <input class="form-control" name="password" placeholder="Password" type="password"/>
            <input class="form-control" name="repeat" placeholder="Repeat password" type="password"/>
            <button class="btn btn-default" type="submit">Register</button>
        </fieldset>
    </form>
{% endblock %}
</html>