/*CSS*/

body{
    background: linear-gradient(to top, rgb(255, 255, 204), white);
}


/*ID-Tag*/
#login{
    background: linear-gradient(to top, black, red);
    color: white;
}

/*Classes*/
.logout{
    color: white;
    background: linear-gradient(to top, rgb(204,255,204), red);
}
.RoundSideButton{
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 100px;
    text-align: center;
    width: 10%;
    font-weight: bold;
    display: inline-block;

    }

