/*CSS*/

body {
    margin: 0;
    margin-top: 20%;
    height: auto;
    width: 100%;
    background-color: white;
}

/*ID-Tag*/
#Login{
    background: linear-gradient(to top, rgb(5,0,0), red);
    color: white;
}
#Logout{
    color: white;
    background: linear-gradient(to top, rgb(204,255,204), red);
}
#FavoritesButton{
    position: right bottom;

}

/*Classes*/

/*All Buttons shapes*/

.RoundSideButton{
    padding: 5px 30px;
    border: 1px solid black;
    border-radius: 100px;
    text-align: center;
    width: auto;
    font-weight: bold;
    display: inline-block;
    background: linear-gradient(to top, darkgrey, white);
    font-size: 18px;
    font-family: "Abril Fatface";
    cursor: pointer;
    }
.SearchBarbutton{
    border: 1px solid black;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
    display: inline;
    background: linear-gradient(white, darkgrey);
    font-size: 16px;
    font-family: "Abril Fatface";
    cursor: pointer;

}

/*All header elements*/

.Header{
    top: 0;
    height: 20%;
    width: 100%;
    position: fixed;
    background-image: url(https://i.imgur.com/2wDG5dq.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 10% 10%;
    background-position: center;
    background-color: black;
    font-family: "Abril Fatface";
    font-size: 14px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 3px black;
}

.SearchBarHeader{
    margin: auto;
    text-align: center;
    width: 60%;
    height: 40%;
    font-family: "Abril Fatface";
    border-width: 2px;
    font: white;
}

/*Page-specific frameworks*/

.LoginFrame{
    color: White;
    border: 3px solid black;
    text-align: center;
    margin: auto;
    width: 50%;
    background: white;
    font-size: 32px;
    text-shadow: 2px 2px 3px black;
}