<html>
    <head>
        <link href="{{url_for('static',filename='styles.css')}}" rel="stylesheet"/>
    </head>
    <body>
        <title>Settings</title>
        <div class= "Header">
            <!--Logout button-->
            <div class= "HeaderButtonFrame" id= "leftPosition">
                <form action="{{ url_for('logout') }}"><button class= "RoundSideButton" id= "Logout">Logout</button></form>
            </div>
            <!--Search by a filter-->
            <div class= "HeaderButtonFrame" id= "LeftPosition">
                <form action="{{ url_for('index') }}"><button class="RoundSideButton">Homepage</button></form>
            </div>
            <div class= "HeaderButtonFrame" id= "LeftPosition">
                <form action="{{ url_for('favorites') }}"><button class="RoundSideButton">Favorites</button></form>
            </div>
            <!--Dropdown voor gegevens wijzigen-->
            <div class="dropdown">
                <button class="dropbtn">Settings</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('changemail') }}">Change your email</a>
                    <a href="{{ url_for('changepref') }}">Change your preferences</a>
                    <a href="{{ url_for('changediet') }}">Change your diet and allergies</a>
                </div>
            </div>
            <!--Search-->
            <div class= "HeaderButtonFrame" id= "SearchBar" >
                    <form action="{{ url_for('search') }}" method="post">
                        <input autocomplete="off" name = "ingredient" class= "RoundSideButton" placeholder="Find a recipe" type="text"/>
                        <button class="RoundSideButton" type="submit">Search</button>
                    </form>
            </div>
        </div>
        <!--Forum to change registered username and password-->
        <div class = "ChangeNP">
        <h2>Change your name and password</h2>
        <form action="{{ url_for('changenamepass') }}" method="post">
            <div class = "LoginFrame">
                <input class= "RoundSideButton" autocomplete="off" autofocus name="username" placeholder="Username" type="text"/><br>
            </div>
            <br>
            <div class = "LoginFrame">
                <input class= "RoundSideButton" name="password" placeholder="Password" type="password"/><br>
            </div>
            <br>
            <div class = "LoginFrame">
                <input class= "RoundSideButton" name="repeat" placeholder="Repeat password" type="password"/><br>
            </div>
            <br>
            <button class= "RoundSideButton" id = "OrangeButton" type="submit">Change</button>
        </form>
    </body>
    </div>
</html>