<html>
    <head>
        <link href="{{url_for('static',filename='styles.css')}}" rel="stylesheet"/>
    </head>
    <body>
        <title>Change name and password</title>
        <div class= "Header">
            <!--Logout button-->
            <div class= "HeaderButtonFrame" id= "leftPosition">
                <form action="{{ url_for('logout') }}"><button class= "RoundSideButton" id= "Logout">Logout</button></form>
            </div>
            <!--Search by a filter-->
            <div class= "HeaderButtonFrame" id= "LeftPosition">
                <form action="{{ url_for('filter_dish') }}"><button class="RoundSideButton">Recipe filters</button></form>
            </div>
            <!--Dropdown voor gegevens wijzigen-->
            <div class="dropdown">
                <button class="dropbtn">Change your personal information</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('changenamepass') }}">Change your username and password</a>
                    <a href="{{ url_for('changemail') }}">Change your email</a>
                    <a href="{{ url_for('changepref') }}">Change your preferences</a>
                </div>
            </div>
            <div class= "HeaderButtonFrame" id= "SearchBar" >
                    <form action="{{ url_for('search') }}" method="post">
                        <input autocomplete="off" name = "ingredient" class= "RoundSideButton" placeholder="Find a recipe" type="text"/>
                        <button class="RoundSideButton" type="submit">Search</button>
                    </form>
            </div>
        </div>

        <h3> Change your mail</h3>
        <form action = "{{ url_for('changemail')}}" method = "post">
            <div class = LoginFrame>
            <input class="RoundSideButton" name="email" placeholder="E-mail" type="text"/>
            </div>
            <br>
            <button class = "RoundSideButton" id="Login" type="submit">Change</button>
        </form>
    </body>
</html>