<html>
    <head>
        <link href="{{url_for('static',filename='styles.css')}}" rel="stylesheet"/>
                <div class= "Header">
            <!--Logout button-->
            <div class= "HeaderButtonFrame" id= "leftPosition">
                <form action="{{ url_for('logout') }}"><button class= "RoundSideButton" id= "Logout">Logout</button></form>
            </div>
            <!--Search by a filter-->
            <div class= "HeaderButtonFrame" id= "LeftPosition">
                <form action="{{ url_for('index') }}"><button class="RoundSideButton">Back to index</button></form>
            </div>
            <!--Dropdown voor gegevens wijzigen-->
            <div class="dropdown">
                <button class="dropbtn">Change your personal information</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('changemail') }}">Change your email</a>
                    <a href="{{ url_for('changepref') }}">Change your preferences</a>
                </div>
            </div>
            <div class= "HeaderButtonFrame" id= "SearchBar" >
                    <form action="{{ url_for('search') }}" method="post">
                        <input autocomplete="off" name = "ingredient" class= "RoundSideButton" placeholder="Find a recipe" type="text"/>
                        <button class="RoundSideButton" type="submit">Search</button>
                    </form>
            </div>
        </div>
        </div>
        </div>
    </head>
    <body>
        <div class= "ChangeP">
        <div class= "Header">
            <!--Logout button-->
            <div class= "HeaderButtonFrame" id= "leftPosition">
                <form action="{{ url_for('logout') }}"><button class= "RoundSideButton" id= "Logout">Logout</button></form>
            </div>
            <!--Search by a filter-->
            <div class= "HeaderButtonFrame" id= "LeftPosition">
                <form action="{{ url_for('filter_dish') }}"><button class="RoundSideButton">Recipe filters</button></form>
            </div>
            <div class= "HeaderButtonFrame" id= "LeftPosition">
                <form action="{{ url_for('favorites') }}"><button class="RoundSideButton">Favorites</button></form>
            </div>
            <!--Dropdown voor gegevens wijzigen-->
            <div class="dropdown">
                <button class="dropbtn">Settings</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('changenamepass') }}">Change your username and password</a>
                    <a href="{{ url_for('changemail') }}">Change your email</a>
                    <a href="{{ url_for('changepref') }}">Change your preferences</a>
                </div>
            </div>
            <div class= "HeaderButtonFrame" id= "SearchBar" >
                    <form action="{{ url_for('search') }}" method="post">
                        <input autocomplete="off" name = "ingredient" class= "RoundSideButton" placeholder="Find a recipe" type="text"/>
                        <button class="RoundSideButton" type="submit">Search</button>
                    </form>
            </div>
        </div>
        <h1>Change your preferences</h1>
        <form action = "{{ url_for('changepref')}}", method = "post">
            <input autocomplete="off" autofocus name="pref1" placeholder="Preference 1" button class="RoundSideButton" type="text"/><br>
            <br>
            <input autocomplete="off" autofocus name="pref2" placeholder="Preference 2" button class="RoundSideButton" type="text"/><br>
            <br>
            <input autocomplete="off" autofocus name="pref3" placeholder="Preference 3" button class="RoundSideButton" type="text"/><br>
            <br>
            <button class="btn btn-default" type="submit">Change</button>
        </form>
    </body>
</html>