{% block title %}
    Favorites
{% endblock %}

{% block main %}
<head>
    <link href="{{url_for('static',filename='styles.css')}}" rel="stylesheet"/>
</head>
<body>

    <div class= "Header">
        <h1>Favorites</h1>
        <form action="{{ url_for('favorites') }}"><button class="RoundSideButton" id= "FavoritesButton">Favorites</button></form>
        <div class="SearchBarHeader">
        <form action="{{ url_for('search') }}" method="post">
            <input autocomplete="off" class="SearchBarHeader" placeholder="Find a recipe" type="text"/>
            <button class="SearchBarButton" type="submit">Search</button>
        </form>
        </div>
    </div>
    <form action="{{ url_for('logout') }}"><button class= "RoundSideButton" id= "logout">Logout</button></form>
    <br/>
    <h3>Add them at the index page</h3>
        {% for row in data %}
            <fieldset>
                <p>
                    {{ row.name }} <br>
                    <a href="{{ row.url }}" target= '_blank'>
                    <img src="{{ row.image }}" alt="W3Schools" border="0">
                    </a>
                </p>
                <form action="{{ url_for('fave_remove') }}" method="post"><button name="submit" value="{{ row.name }}">Remove</button></form>
            </fieldset>
        {% endfor %}
    </table>
</body>

{% endblock %}