{% block main %}
<head>
    <link href="{{url_for('static',filename='styles.css')}}" rel="stylesheet"/>
</head>
<body>
    <title>Favorites</title>
    <div class= "Header">
        <!--Logout button-->
        <div class= "HeaderButtonFrame" id= "leftPosition">
            <form action="{{ url_for('logout') }}"><button class= "RoundSideButton" id= "Logout">Logout</button></form>
        </div>
        <!--Search by a filter-->
        <div class= "HeaderButtonFrame" id= "LeftPosition">
            <form action="{{ url_for('filter_dish') }}"><button class="RoundSideButton">Recipe filters</button></form>
        </div>
        <div class= "HeaderButtonFrame" id= "LeftPosition">
            <form action="{{ url_for('index') }}"><button class="RoundSideButton">Homepage</button></form>
        </div>
        <!--Dropdown voor gegevens wijzigen-->
        <div class="dropdown">
            <button class="dropbtn">Settings</button>
            <div class="dropdown-content">
                <a href="{{ url_for('changenamepass') }}">Change your username and password</a>
                <a href="{{ url_for('changemail') }}">Change your email</a>
                <a href="{{ url_for('changepref') }}">Change your preferences</a>
            </div>
        </div>
        <div class= "HeaderButtonFrame" id= "SearchBar" >
                <form action="{{ url_for('search') }}" method="post">
                    <input autocomplete="off" name = "ingredient" class= "RoundSideButton" placeholder="Find a recipe" type="text"/>
                    <button class="RoundSideButton" type="submit">Search</button>
                </form>
        </div>
    </div>
    <div class="stylefavorites">
    <h3>Add them at the index page</h3>
        {% for row in data %}
            <fieldset>
                <p>
                    {{ row.name }} <br>
                    <a href="{{ row.url }}" target= '_blank'>
                    <img src="{{ row.image }}" alt="W3Schools" border="0">
                    </a>
                </p>
                <form action="{{ url_for('fave_remove') }}" method="post"><button name="submit" value="{{ row.name }}">Remove</button></form>
            </fieldset>
        {% endfor %}
    </table>
    </div>
</body>

{% endblock %}