<hmtl>
    <link href="{{url_for('static',filename='styles.css')}}" rel="stylesheet"/>

    <head>

    </head>
    <body>
        <div class= "Header">
            <!--Logout button-->
            <div class= "HeaderButtonFrame" id= "leftPosition">
                <form action="{{ url_for('logout') }}"><button class= "RoundSideButton" id= "Logout">Logout</button></form>
            </div>
            <!--Search by a filter-->
            <div class= "HeaderButtonFrame" id= "LeftPosition">
                <form action="{{ url_for('index') }}"><button class="RoundSideButton">Homepage</button></form>
            </div>
            <div class= "HeaderButtonFrame" id= "LeftPosition">
                <form action="{{ url_for('favorites') }}"><button class="RoundSideButton">Favorites</button></form>
            </div>
            <!--Dropdown voor gegevens wijzigen-->
            <div class="dropdown">
                <button class="dropbtn">Settings</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('changenamepass') }}">Change your username and password</a>
                    <a href="{{ url_for('changemail') }}">Change your email</a>
                    <a href="{{ url_for('changepref') }}">Change your preferences</a>
                </div>
            </div>
            <!--Searchbar-->
            <div class= "HeaderButtonFrame" id= "SearchBar" >
                    <form action="{{ url_for('search') }}" method="post">
                        <input autocomplete="off" name = "ingredient" class= "RoundSideButton" placeholder="Find a recipe" type="text"/>
                        <button class="RoundSideButton" type="submit">Search</button>
                    </form>
            </div>
        </div>
        <!--list with search options-->
        <div class="StyleFilterSearch">
        <br>
        <h3> Search for a recipe with filters!<br>(results not guaranteed)</h3>
        <br>
        <h2>Search for a recipe with filters!</h2><br>
        <br>
        <br>
        <h3.5> We will automaticly merge your diet and allergies into the results,<br> so no need to fill those in!</h3.5> <br>
                         <br>
                         <br>
        <ul>
            <li>
                <br>
                <h2>______ Maindish ______</h2>
                <br>
                    <form action="{{ url_for('filter_dish') }}" method="post">
                        <h4>What meat do you want?</h4> <br>
                        <h9.5>(leave unchecked if you want random meat)</h9.5><br>
                        <br>
                        <tr>
                                <td><input type="checkbox" name="chicken" value="chicken">Chicken</td>
                                <td><input type="checkbox" name="beef" value="beef">Beef</td>
                                <td><input type="checkbox" name="pork" value="pork">Pork</td>
                        <br>
                         <br>
                         <br>
                         <br>
                        </tr>

                        <h4>What vegetables do you want?</h4> <br>
                        <h9.5>(leave unchecked if you want random vegetables)</h9.5><br>
                            <br>
                            <tr>
                                <td><input type="checkbox" name="lettuce" value="lettuce">Lettuce</td>
                                <td><input type="checkbox" name="cucumber" value="cucumber">Cucumber</td>
                                <td><input type="checkbox" name="carrot" value="carrot">Carrot</td>
                                <td><input type="checkbox" name="brocolli" value="brocolli">Brocolli</td>
                                <td><input type="checkbox" name="beans" value="beans">Beans</td>
                                <td><input type="checkbox" name="potatoes" value="potatoes">Potatoes</td>
                            </tr>
                            <br>
                            <br>
                            <br>
                            <br>
                        <button type="submit" class= "RoundSideButton">Go!</button> <br>
                         <br>
                         <br>
                         <br>
                         <br>
                         <br>
                    </form>

            </li>
            <li>
                <h2> ______ Dessert ______ </h2>
                    <br>
                    <form action = "{{ url_for('filter_dessert') }}" method = "post">
                        <h4>What flavours do you want?</h4><br>

                            <tr>
                                <td><input type="checkbox" name="vanilla" value="vanilla">Vanilla</td>
                                <td><input type="checkbox" name="choco" value="choco">Choco</td>
                                <td><input type="checkbox" name="coconut" value="coconut">Coconut</td>
                                <br>
                                <br>
                            </tr>

                        <h4>Do you want any fruit in it?</h4><br>

                            <tr>
                                <td><input type="checkbox" name="apple" value="apple">Apple</td>
                                <td><input type="checkbox" name="orange" value="orange">Orange</td>
                                <td><input type="checkbox" name="pineapple" value="pineapple">Pineapple</td>
                             <br>
                             <br>
                             <br>
                             <br>
                            </tr>

                        <button type="submit" class= "RoundSideButton">Go!</button>
                         <br>
                         <br>
                         <br>
                         <br>
                    </form>
            </li>
        </ul>
    </body>
    </div>
</hmtl>