<html>

{% block main %}
    <head>
        <link href="{{url_for('static',filename='styles.css')}}" rel="stylesheet"/>
    </head>

    <body>
        <title>Homepage</title>
        <div class= "Header">
        <!--Uitloggen-->
        <form action="{{ url_for('logout') }}"><button class= "RoundSideButton">Logout</button></form>

        <form action="{{ url_for('filter_dish') }}"><button class="RoundSideButton">Search recipe through filter</button></form>
            <div class="SearchBarHeader">
                <form action="{{ url_for('search') }}" method="post">
                    <input autocomplete="off" class="SearchBarHeader" name = "ingredient" placeholder="Find a recipe" type="text"/>
                    <button class="SearchBarButton" type="submit">Search</button>
                </form>
            </div>
            <!--Dropdown voor gegevens wijzigen-->
            <div class="dropdown">
                <button class="dropbtn">Change your personal information</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('changenamepass') }}">Change your username and password</a>
                    <a href="{{ url_for('changemail') }}">Change your email</a>
                    <a href="{{ url_for('changepref') }}">Change your preferences</a>
                </div>
            </div>
        </div>
        <div class="List">

        </div>

        <!--Zoekbalk voor homepage
        <form action="{{ url_for('search') }}" method="post">
            <div class= "form-group">
                <input autocomplete="off" autofocus class="form-control" name="ingredient" placeholder="Find a recipe" type="text"/>
            </div>
            <br/>
            <div class="form-group">
                <button class="RoundSideButton" type="submit">search</button>
            </div>
        </form>-->
        </div>
        {% for item in recipes %}

        <div class= "IndexFrame">
            {{ item.label }} <br>
            <a href="{{ item.url }}" target= '_blank'>
            <img src="{{ item.image }}" alt="W3Schools" border="0">
            </a>
        <form action="{{ url_for('favorites') }}" method="post"><button name="submit" value="{{ item.label }}">Add</button></form>

        {% endfor %}
        </div>
    </body>
        {% endblock %}
</html>