{% block title %}
    Log In
{% endblock %}
<html>

{% block main %}

{% for item in data %}
<a href="{{ item.url }}">
<img src="{{ item.img }}" alt="Image not available" border="0">
{% endfor %}
    <head>
    <link href="{{url_for('static',filename='styles.css')}}" rel="stylesheet"/>
    </head>
        <body>
            <form action="{{ url_for('zoek') }}" method="post">
                <fieldset>
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Find a recipe, dieet, ingredient" type="text"/>
                    </div>
                        <div class="form-group">
                        <button class="btn btn-default" type="submit">Zoek</button>
                    </div>
                </fieldset>
            </form>

        <form action="{{ url_for('register') }}"><button class="RoundSideButton">Register</button></form>
        <h1>Log in</h1>
        <form action="{{ url_for('login') }}" method="post">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
                <br/>
                <input class="form-control" name="password" placeholder="Password" type="password"/>
                <br/>
                <br/>
                <button class="RoundSideButton" id= "login">Log In</button>
        </form>
    </body>
{% endblock %}
</html>