<!DOCTYPE html>

{% block main %}

{% for item in data %}
<a href="{{ item.url }}">
<img src="{{ item.img }}" alt="Image not available" border="0">
{% endfor %}
    <head>
    <link href="{{url_for('static',filename='styles.css')}}" rel="stylesheet"/>
    </head>
    <body>
        <title>Login</title>
        <div class="LoginFrame" id= "Title">
            <h1>Makes Right Diner</h1>
        </div>
            <div class="LoginFrame">
            <form action="{{ url_for('search') }}" method="post">
            <input class= "RoundSideButton" name = "ingredient" placeholder="Find a recipe" type="text"/>
            <button class= "RoundSideButton" type="submit">Search</button>
            </form>
            <h3>Login</h3>
            <form action="{{ url_for('login') }}" method="post">
                    <input autocomplete="off" autofocus class= "RoundSideButton" name="username" placeholder="Username" type="text"/>
                    <br/>
                    <input class= "RoundSideButton" name="password" placeholder="Password" type="password"/>
                    <br/>
                    <br/>
                    <button class="RoundSideButton" id= "Login">Log In</button>
            </form>
        <form action="{{ url_for('register') }}"><button class="RoundSideButton">Register</button></form>
        </div>
    </body>
{% endblock %}