<html>

{% block title %}
    Register
{% endblock %}

{% block main %}
    <head>
        <link href="{{url_for('static',filename='styles.css')}}" rel="stylesheet"/>
    </head>

    <body>
         <div class= "Header">
            <h1>Register your account</h1>
            <form action="{{ url_for('favorites') }}"><button class="RoundSideButton" id= "FavoritesButton">Favorites</button></form>
            <div class="SearchBarHeader">
                <form action="{{ url_for('search') }}" method="post">
                    <input autocomplete="off" class="SearchBarHeader" placeholder="Find a recipe" type="text"/>
                    <button class="SearchBarButton" type="submit">Search</button>
                </form>
            </div>
        </div>

            <form action="{{ url_for('login') }}"><button class= "RoundSideButton">Back to login page</button></form>
            <br/>
        <form action="{{ url_for('register') }}" method="post">
            <fieldset style="width:350px">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/><br>
                <input class="form-control" name="password" placeholder="Password" type="password"/><br>
                <input class="form-control" name="repeat" placeholder="Repeat password" type="password"/><br>
                <input class="form-control" name="email" placeholder="E-mail" type="text"/>
            </fieldset>
            <fieldset style="width:350px">
                <h4>Do you have a diet?</h4>
                <table>
                    <tr>
                        <td><input type="checkbox" name="vegetarian" value="vegetarian">Vegetarian</td>
                        <td><input type="checkbox" name="vegan" value="vegan">Vegan</td>
                        <td><input type="checkbox" name="paleo" value="paleo">Paleo</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="high_fiber" value="high-fiber">High-Fiber</td>
                        <td><input type="checkbox" name="high_protein" value="high-protein">High-Protein</td>
                        <td><input type="checkbox" name="low_carb" value="low-carb">Low-Carb</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="low_fat" value="low-fat">Low-Fat</td>
                        <td><input type="checkbox" name="low_sodium" value="low-sodium">Low-Sodium</td>
                        <td><input type="checkbox" name="low_sugar" value="low-sugar">Low-Sugar</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="alcohol_free" value="alcohol-free">Alcohol-Free</td>
                        <td><input type="checkbox" name="balanced" value="True">Balanced</td>
                    </tr>
                </table>
            </fieldset>
            <fieldset style="width:350px">
                <h4>Do you have an allergy?</h4>
                <table>
                    <tr>
                        <td><input type="checkbox" name="gluten" value="gluten-free">Gluten
                        <td><input type="checkbox" name="dairy" value="dairyfree">Dairy
                        <td><input type="checkbox" name="eggs" value="egg-free">Eggs
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="soy" value="soyfree">Soy
                        <td><input type="checkbox" name="wheat" value="wheat-free">Wheat
                        <td><input type="checkbox" name="treenuts" value="tree-nut-free">Tree Nuts
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="peanuts" value="peanut-free">Peanuts
                    </tr>
                </table>
            </fieldset>
            <fieldset style="width:350px">
                <h4> Name 4 ingredients you like most! </h4>
                <input autocomplete="off" autofocus name="pref1" placeholder="Preference 1" type="text"/><br>
                <input autocomplete="off" autofocus name="pref2" placeholder="Preference 2" type="text"/><br>
                <input autocomplete="off" autofocus name="pref3" placeholder="Preference 3" type="text"/>
            </fieldset>
            <button class="btn btn-default" type="submit">Register</button>
        </form>
    </body>
{% endblock %}
</html>